APP_NAME=March-Health

PORT=4200
API_KEY=

MONGO_URL=mongodb://localhost:27017/march-health

JWT_SECRET=secret
JWT_EXPIRE_IN=15m

MAIL_HOST=localhost
MAIL_PORT=80
MAIL_USERNAME=admin
MAIL_PASSWORD=password
MAIL_FROM_ADDRESS=code@test.com